html, body, div, form, fieldset, legend, label, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, dt, dd, blockquote, table, img {
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th, td {
}
img, fieldset {
    border: 0 none;
}
html {
    color: #222222;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 92%;
}
a {
    color: #002A5C;
}
h1, h2, h3, h4 {
    font-family: "Myriad Pro";
}
h1 {
    color: #3D3D3D;
    font-size: 240%;
    line-height: 1.05;
    margin-bottom: 0.53em;
}
h1.special {
    background-color: #002A5C;
    padding: 10px;
    color: #fff;
    
}
h2 {
    border-bottom: 3px solid #002A5C;
    color: #5E5E5E;
    font-size: 173%;
    line-height: 1.46;
    margin-bottom: 0.75em;
}
h3 {
    color: #002A5C;
    font-size: 120%;
    line-height: 1.08;
    margin-bottom: 1.08em;
}
h4 {
    color: #777777;
    font-style: italic;
    line-height: 1.3;
    margin-bottom: 1.3em;
}
p, ul, ol, blockquote, table {
    line-height: 1.3;
    margin-bottom: 1.3em;
}
ol, ul {
    margin-left: 3em;
}
blockquote {
    color: #777777;
    font-style: italic;
    margin-left: 3em;
}
.visHide {
    position: absolute;
    left: -9999px;
}
.container {
    margin: 0 auto;
    width: 1140px;
    overflow: hidden;
}
.sideNav {
    width: 200px; 
    padding:10px;
    margin: 0px 30px 0 0;
    position: fixed;
    border: 1px solid #E4E4E4;
    background-color: #f7f7f7;
    border-top: none;
}
.content {
    width: 900px;
    float: left;
    margin-left: 240px;
}
.navList {
    list-style: none outside none;
    margin-left: 0;
}
.navList:before,
.navList:after {
  display: table;
  content: "";
}
.navList:after{
  clear: both;
}
.navList li {
    float: left;
    padding-right: 10px;
}
.navList a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    padding: 4px 8px;
    text-decoration: none;
}
.navList .current {
    background-color: #002A5C;
    color: #FFFFFF;
}
.navList.tabList {
     border-bottom:1px solid #999;
}
.navList.tabList li {
    padding-right: 0;
    margin-bottom: -1px;
}
.navList.tabList a {
    color: #444;
    border: 1px solid transparent;
    margin-right: 2px;
}
.navList.tabList .current {
    border: 1px solid #999;
    border-bottom-color: transparent;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background-color: #fff;
}
.sideNavList, .sideNavList ul {
    list-style: none outside none;
    margin: 0;
}
.sideNavList li a {
    border-top: 1px solid #E4E4E4;
    display: block;
    padding: 5px 0 5px 3px;
}
.sideNavList > li:first-child > a {
    border-top: none;
}
.sideNavList ul a {
    padding-left: 20px;
}
.sideNavList a {
    text-decoration: none;
}
.sideNavList .current, .sideNavList a:hover {
    color: #0059C2;
}
.buttonList li a {
    border: none;
    padding: 7px 0 7px 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.buttonList ul li a {
    padding-left: 23px;
}
.buttonList .current {
    background-color: #002A5C;
    color: #fff;
}
.buttonList a:hover {
    background-color: #0059C2;
    color: #fff;
}
.navList.borderless a {
    border: none;
}
.borderless a{
    border: none!important;
}
.breadcrumbs {
    padding: 10px 0px;
}
.breadcrumbs a {
    display: inline-block;
    text-decoration: none;
    padding-right: 8px;
}
.appTable {
    border-bottom: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
}
.appTable th, .appTable td {
    padding: 7px 9px;
    text-align: left;
    vertical-align: top;
}
.appTable td {
    border-right: 1px solid #DCDCDC;
    border-top: 1px solid #DCDCDC;
}
.appTable th {
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-bottom: 2px solid #888888;
    color: #555555;
}
.darkTable th {
    border-color: #001A3A;
}
.darkTable th {
    background-color: #002A5C;
    color: #FFFFFF;
}
.appTable tr:nth-child(2n+1) td {
    background-color: #F1F1F1;
}
.appTable tr td:first-child {
}

.col {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
.firstHalf, .secondHalf {
    width: 49%;
}
.firstHalf {
    clear: both;
}
.secondHalf {
    padding-left: 2%;
}
.firstThird {
    padding-right: 1%;
    width: 33%;
}
.secondThird {
    padding: 0 1%;
    width: 33%;
}
.thirdThird {
    padding-left: 1%;
    width: 32%;
}
.longCol {
    width: 66%;
}
.alert {
    margin-bottom: 10px;
    padding: 10px;
    clear: both;
    overflow: hidden;
    position: relative;
}
.alertWarning {
    background-color: #FBE6E6;
    border: 2px solid #D40505;
    color: #9F0000;
}
.alertWarning a {
    color: #9F0000;
}
.alertSuccess {
    background-color: #E1F6E1;
    border: 2px solid #05B305;
    color: #057605;
}
.alertSuccess a {
    color: #057605;
}
.alertInfo {
    background-color: #CDDFEA;
    border: 2px solid #005D93;
    color: #004C77;
}
.alertInfo a {
    color: #004C77;
}
.alertCaution {
    background-color: #fffdcc;
    border: 2px solid #ddd500;
    color: #4c4b29;
}
.alertCaution a {
    color: #4c4b29;
}
.horizontalForm {
    margin-bottom: 15px;
}
.horizontalForm p {
    clear: both;
}
.horizontalForm label {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 2%;
    text-align: right;
    vertical-align: top;
    width: 20%;
}
.horizontalForm .field {
    display: inline-block;
    margin-right: 15%;
    text-align: left;
    vertical-align: top;
    width: 60%;
}
.horizontalForm input[type="text"], .horizontalForm input[type="email"], .horizontalForm textarea {
    width: 70%;
}
.horizontalForm fieldset {
    overflow: hidden;
    padding-top: 15px;
}
.horizontalForm legend {
    float: left;
    margin-right: 2%;
    text-align: right;
    width: 20%;
}
.horizontalForm fieldset label {
    margin-bottom: 5px;
    width: auto;
}
.horizontalForm .errorMsg {
    display: block;
    padding-top: 4px;
}
.verticalForm label {
    display: block;
    margin-top: 15px;
    padding-bottom: 5px;
}
.verticalForm legend {
    margin-bottom: 5px;
}
.verticalForm fieldset {
    line-height: 1.6;
    margin-top: 15px;
}
.verticalForm fieldset label {
    display: inline;
    margin-top: 0;
}
.verticalForm small {
    color: #666666;
    font-size: 12px;
    display: block;
    padding-top: 3px;
}
.errorMsg {
    color: #D30000;
    font-size: 12px;
}
.verticalForm input[type="text"], 
.verticalForm textarea {
    display: block;
    width: 49%;
}
.verticalForm .firstHalf input[type="text"], 
.verticalForm .secondHalf input[type="text"] {
    width: 100%;
}
.verticalForm input[type="submit"] {
    margin-bottom: 15px;
    margin-top: 15px;
}
.inputFull {
    width: 100% !important;
}
.inputHalf {
    width: 50% !important;
}
.inputThird {
    width: 33% !important;
}
.inputQuarter {
    width: 25% !important;
}
.inputEighth {
    width: 14% !important;
}
.inputSixteenth {
    width: 7% !important;
}
.secondHalf .smallInput, .firstHalf .smallInput {
    width: 50% !important;
}
.microInput {
    width: 14% !important;
}
.searchField {
    margin-bottom: 15px;
}
.searchInput {
    padding: 5px;
    display: inline-block!important;
    width: auto!important;
}
.secondHalf .microInput, .firstHalf .microInput {
    width: 25% !important;
}
.req {
    color: red;
    font-size: 18px;
    font-weight: bold;
}
.btn {
    background-color: #0b4384;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#0b4384), to(#002A5C));
    background-image:-webkit-linear-gradient(top, #0b4384, #002A5C); 
    background-image:-moz-linear-gradient(top, #0b4384, #002A5C); 
    background-image:-o-linear-gradient(top, #0b4384, #002A5C); 
    background-image:linear-gradient(to bottom, #0b4384, #002A5C);
    border: 1px solid #00142C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 4px 8px;
    text-decoration: none;
}
.btn:hover {
    background-color: #0E55A0;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#0E55A0), to(#004089));
    background-image:-webkit-linear-gradient(top, #0E55A0, #004089); 
    background-image:-moz-linear-gradient(top, #0E55A0, #004089); 
    background-image:-o-linear-gradient(top, #0E55A0, #004089); 
    background-image:linear-gradient(to bottom, #0E55A0, #004089);
    border-color: #01234D;
}
.btnSuccess {
    background-color: #039941;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#039941), to(#006e2e)); 
    background-image: -webkit-linear-gradient(top, #039941, #006e2e); 
    background-image: -moz-linear-gradient(top, #039941, #006e2e); 
    background-image: -o-linear-gradient(top, #039941, #006e2e); 
    background-image: linear-gradient(to bottom, #039941, #006e2e); 
    border-color: #005423;
}
.btnSuccess:hover {
    background-color: #03AF48;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#03AF48), to(#008437)); 
    background-image: -webkit-linear-gradient(top, #03AF48, #008437); 
    background-image: -moz-linear-gradient(top, #03AF48, #008437); 
    background-image: -o-linear-gradient(top, #03AF48, #008437); 
    background-image: linear-gradient(to bottom, #03AF48, #008437); 
    border-color: #007330;
}
.btnWarning {
    background-color: #FAA732;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FAA732), to(#D37B00)); 
    background-image: -webkit-linear-gradient(top, #FAA732, #D37B00); 
    background-image: -moz-linear-gradient(top, #FAA732, #D37B00); 
    background-image: -o-linear-gradient(top, #FAA732, #D37B00); 
    background-image: linear-gradient(to bottom, #FAA732, #D37B00); 
    border-color: #CB7702;
}
.btnWarning:hover {
    background-color: #FCB755;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FCB755), to(#F29113)); 
    background-image: -webkit-linear-gradient(top, #FCB755, #F29113); 
    background-image: -moz-linear-gradient(top, #FCB755, #F29113); 
    background-image: -o-linear-gradient(top, #FCB755, #F29113); 
    background-image: linear-gradient(to bottom, #FCB755, #F29113); 
    border-color: #E68E14;
}
.btnDanger {
    background-color: #CC0000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CC0000), to(#A30000)); 
    background-image: -webkit-linear-gradient(top, #CC0000, #A30000); 
    background-image: -moz-linear-gradient(top, #CC0000, #A30000); 
    background-image: -o-linear-gradient(top, #CC0000, #A30000); 
    background-image: linear-gradient(to bottom, #CC0000, #A30000); 
    border-color: #940000;
}
.btnDanger:hover {
    background-color: #E80000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E80000), to(#C10000)); 
    background-image: -webkit-linear-gradient(top, #E80000, #C10000); 
    background-image: -moz-linear-gradient(top, #E80000, #C10000); 
    background-image: -o-linear-gradient(top, #E80000, #C10000); 
    background-image: linear-gradient(to bottom, #E80000, #C10000); 
    border-color: #BC0000;
}
.btnAlt {
    background-color: #787F84;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#787F84), to(#465259)); 
    background-image: -webkit-linear-gradient(top, #787F84, #465259); 
    background-image: -moz-linear-gradient(top, #787F84, #465259); 
    background-image: -o-linear-gradient(top, #787F84, #465259); 
    background-image: linear-gradient(to bottom, #787F84, #465259); 
    border-color: #484848;
}
.btnAlt:hover {
    background-color: #81898E;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#81898E), to(#5A6972)); 
    background-image: -webkit-linear-gradient(top, #81898E, #5A6972); 
    background-image: -moz-linear-gradient(top, #81898E, #5A6972); 
    background-image: -o-linear-gradient(top, #81898E, #5A6972); 
    background-image: linear-gradient(to bottom, #81898E, #5A6972); 
    border-color: #626262;
}
.wide {
    width: 100% !important;
}
